version: 2.1

jobs:
  build:
    docker:
      - image: cimg/python:3.14.2
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            python -m pip install --upgrade pip
            pip install requests
      - run:
          name: Run Unit Tests
          command: python -m unittest HW03a/test.py
